### 1. 정보 단계 : 수집, 가공
### 2. 교육 단계 : 머신 대상

In [1]:
# !python -m pip install --upgrade pip

In [2]:
# !python -m pip install sklearn

In [3]:
# auto reload
%load_ext autoreload

%autoreload 2

In [4]:
import sklearn

In [5]:
import pandas as pd

In [6]:
!dir .\files\auto-mpg.csv

 C 드라이브의 볼륨: Windows
 볼륨 일련 번호: 5A0A-5AF1

 C:\Develops\minsung_machinelearning\files 디렉터리

2021-06-29  오후 04:03            21,913 auto-mpg.csv
               1개 파일              21,913 바이트
               0개 디렉터리  645,162,070,016 바이트 남음

## 데이터를 읽는다.

In [7]:
pd_data = pd.read_csv('./files/auto-mpg.csv', header=None)

## 데이터 분석

In [8]:
pd_data.info()
pd_data.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       398 non-null    float64
 1   1       398 non-null    int64
 2   2       398 non-null    float64
 3   3       398 non-null    object
 4   4       398 non-null    float64
 5   5       398 non-null    float64
 6   6       398 non-null    int64
 7   7       398 non-null    int64
 8   8       398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

(398, 9)

## 데이터를 분류해 줌.

In [9]:
pd_data.columns = ['mpg','cylinders','displacement','horsepower','weight',
              'acceleration','model year','origin','name']

In [10]:
x = pd_data[['weight']]

In [11]:
y = pd_data[['mpg']]

In [12]:
x.shape, y.shape

((398, 1), (398, 1))

## 다른 데이터와 교차 검증
> 트레이닝 셋과 테스트 셋을 나눔.
#### 따로 빼놓은 데이터로 검증을 해보는 것!!왜냐하면 ML에는 기록이 없는 데이터이기 때문에...
#### 이미 훈련시킨 데이터는 성능이 좋을 수 밖에 없음.

In [13]:
from sklearn.linear_model import LinearRegression

In [14]:
lr = LinearRegression()

In [15]:
lr.fit(x, y)

LinearRegression()

In [16]:
lr.coef_, lr.intercept_ # 기울기coef_

(array([[-0.00767661]]), array([46.31736442]))

## 데이터를 나눠줄 예정

In [17]:
from sklearn.model_selection import train_test_split

In [18]:
X_train, X_test, Y_train, Y_test = train_test_split(x, y) # 이 순서는 함수에서 미리 결정되어 있음.
X_train.shape, X_test.shape, Y_train.shape, Y_test.shape

((298, 1), (100, 1), (298, 1), (100, 1))

In [19]:
lr.fit(X_train, Y_train)

LinearRegression()

In [20]:
lr.coef_, lr.intercept_ # 기울기coef_

(array([[-0.00778762]]), array([46.42454794]))

y = -0.00767661 x + 46.31736442

In [21]:
lr.score(x, y) # 정확도

0.6908353444748696

In [22]:
pd_data[['mpg','weight']]

      mpg  weight
0    18.0  3504.0
1    15.0  3693.0
2    18.0  3436.0
3    16.0  3433.0
4    17.0  3449.0
..    ...     ...
393  27.0  2790.0
394  44.0  2130.0
395  32.0  2295.0
396  28.0  2625.0
397  31.0  2720.0

[398 rows x 2 columns]