### 1. 정보 단계 : 수집, 가공
### 2. 교육 단계 : 머신 대상

In [1]:
# !python -m pip install --upgrade pip

In [2]:
# !python -m pip install sklearn

In [3]:
# auto reload
%load_ext autoreload

%autoreload 2

In [4]:
import sklearn

In [5]:
import pandas as pd

In [6]:
!dir .\files\auto-mpg.csv

 C 드라이브의 볼륨: Windows
 볼륨 일련 번호: 5A0A-5AF1

 C:\Develops\minsung_machinelearning\files 디렉터리

2021-06-29  오후 04:03            21,913 auto-mpg.csv
               1개 파일              21,913 바이트
               0개 디렉터리  636,893,138,944 바이트 남음

## 데이터를 읽는다.

In [7]:
pd_data = pd.read_csv('./files/auto-mpg.csv', header=None)

## 데이터 분석

In [8]:
pd_data.info()
pd_data.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       398 non-null    float64
 1   1       398 non-null    int64
 2   2       398 non-null    float64
 3   3       398 non-null    object
 4   4       398 non-null    float64
 5   5       398 non-null    float64
 6   6       398 non-null    int64
 7   7       398 non-null    int64
 8   8       398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

(398, 9)

## 데이터를 분류해 줌.

In [9]:
pd_data.columns = ['mpg','cylinders','displacement','horsepower','weight',
              'acceleration','model year','origin','name']

In [10]:
x = pd_data[['weight', 'cylinders']]

In [11]:
y = pd_data[['mpg']]

In [12]:
x.shape, y.shape

((398, 2), (398, 1))

In [13]:
pd_data[['weight','cylinders','mpg']]

     weight  cylinders   mpg
0    3504.0          8  18.0
1    3693.0          8  15.0
2    3436.0          8  18.0
3    3433.0          8  16.0
4    3449.0          8  17.0
..      ...        ...   ...
393  2790.0          4  27.0
394  2130.0          4  44.0
395  2295.0          4  32.0
396  2625.0          4  28.0
397  2720.0          4  31.0

[398 rows x 3 columns]

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
X_train, X_test, Y_train, Y_test = train_test_split(x, y) # 이 순서는 함수에서 미리 결정되어 있음.
X_train.shape, X_test.shape, Y_train.shape, Y_test.shape

((298, 2), (100, 2), (298, 1), (100, 1))

In [16]:
from sklearn.linear_model import LinearRegression

In [17]:
lr = LinearRegression()

In [18]:
# lr.fit(x,y)
lr.fit(X_train, Y_train)

LinearRegression()

In [19]:
lr.coef_, lr.intercept_ # 기울기coef_ 여기서 coef가 2개

(array([[-0.00648425, -0.63232937]]), array([46.13320495]))

`y` = -0.00673611`x_1` + -0.5551947`x_2` + 46.72626066

In [20]:
# check with total data
lr.score(x, y)

0.6961832316195475

In [21]:
# check with apart train data
lr.score(X_train, Y_train) # Y_true 하고 비교함.

0.6854041859377604

In [22]:
# check with apart test data
lr.score(X_test, Y_test)

0.7271030796096085

어떤 데이터를 가지고 딱 맞게 되면 overfit이 난다. -> 새로운 데이터가 나왔을때는 답을 할수 없다.
내가 만든 패턴이 다른 데이터로 검증했을때도 비슷하게 나오면 이 패턴은 써먹을 수 있다.
많이 차이 나게 되면 테스트 데이터에 편중된 것이 됨.
미래의 새로운 데이터가 나오게 되었을때 설명이 되는가 하는 문제
> 테스트셋보다 트레인 셋이 더 높으면 성능이 좋은것!(더 낮은 경우엔 트레인셋으로 쏠린 것!)

# 3. 서비스 단계 : 고객 응대
> 피클에 넣기

In [23]:
# weight cylinders
lr.predict([[3504.0, 8]])

array([[18.35376521]])

In [24]:
# weight cylinders
lr.predict([[2790.0, 4]])

array([[25.51283572]])

In [25]:
type(lr)

sklearn.linear_model._base.LinearRegression

In [26]:
import pickle

In [27]:
pickle.dump(lr, open('./saves/autompg_lr.pkl','wb')) # 파일을 다루는 명령어인 open!!

In [34]:
y_predict = lr.predict(X_train)
y_predict.shape, Y_train.shape

((298, 1), (298, 1))

In [36]:
y_result = Y_train - y_predict
y_result

          mpg
270 -6.196004
141 -0.215341
278  0.799766
245  4.167759
250  2.544096
..        ...
57  -4.832771
235 -2.917066
257 -2.124793
86  -3.264412
13  -7.064181

[298 rows x 1 columns]

In [37]:
lr.score(X_train, Y_train)

0.6854041859377604