## 리눅스 명령어

In [ ]:
!ls

sample_data  Wholesale_customers_data.csv

In [ ]:
!ls -l

total 20
drwxr-xr-x 1 root root  4096 Jun 15 13:37 sample_data
-rw-r--r-- 1 root root 15021 Jul  2 05:28 Wholesale_customers_data.csv

In [ ]:
!pwd  # 현재 위치

/content

In [ ]:
!ls -l ./sample_data

total 55504
-rwxr-xr-x 1 root root     1697 Jan  1  2000 anscombe.json
-rw-r--r-- 1 root root   301141 Jun 15 13:37 california_housing_test.csv
-rw-r--r-- 1 root root  1706430 Jun 15 13:37 california_housing_train.csv
-rw-r--r-- 1 root root 18289443 Jun 15 13:37 mnist_test.csv
-rw-r--r-- 1 root root 36523880 Jun 15 13:37 mnist_train_small.csv
-rwxr-xr-x 1 root root      930 Jan  1  2000 README.md

In [ ]:
!ls -l ./

total 20
drwxr-xr-x 1 root root  4096 Jun 15 13:37 sample_data
-rw-r--r-- 1 root root 15021 Jul  2 05:28 Wholesale_customers_data.csv

In [1]:
!ls -l ./wholesale.xls

-rw-r--r-- 1 root root 46592 Jul  2 06:38 ./wholesale.xls

In [2]:
import pandas as pd
df = pd.read_excel('./wholesale.xls')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 440 entries, 0 to 439
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        440 non-null    int64
 1   Channel           440 non-null    int64
 2   Region            440 non-null    int64
 3   Fresh             440 non-null    int64
 4   Milk              440 non-null    int64
 5   Grocery           440 non-null    int64
 6   Frozen            440 non-null    int64
 7   Detergents_Paper  440 non-null    int64
 8   Delicassen        440 non-null    int64
 9   label             440 non-null    int64
dtypes: int64(10)
memory usage: 34.5 KB

In [3]:
df.head(5)

   Unnamed: 0  Channel  Region  ...  Detergents_Paper  Delicassen  label
0           0        2       3  ...              2674        1338      1
1           1        2       3  ...              3293        1776      1
2           2        2       3  ...              3516        7844      1
3           3        1       3  ...               507        1788      0
4           4        2       3  ...              1777        5185      1

[5 rows x 10 columns]

# 요즘 가장 각광받고 있는 모델이 시초 Decision Tree
> XG 부스트 의 시조격!
성능 측정을 안할거라 standard scaler 만

In [4]:
Y = df['label']
X = df.iloc[:,1:9]
Y.shape, X.shape

((440,), (440, 8))

In [7]:
from sklearn.tree import DecisionTreeClassifier # 디시전 트리와 회귀 분석과는 어울리지 않음.
dtree = DecisionTreeClassifier()
# split 단계 생략
dtree.fit(X, Y)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [8]:
dtree.score(X, Y)

1.0