## 리눅스 명령어

In [24]:
!ls

sample_data  Wholesale_customers_data.csv

In [25]:
!ls -l

total 20
drwxr-xr-x 1 root root  4096 Jun 15 13:37 sample_data
-rw-r--r-- 1 root root 15021 Jul  2 04:45 Wholesale_customers_data.csv

In [26]:
!pwd  # 현재 위치

/content

In [27]:
!ls -l ./sample_data

total 55504
-rwxr-xr-x 1 root root     1697 Jan  1  2000 anscombe.json
-rw-r--r-- 1 root root   301141 Jun 15 13:37 california_housing_test.csv
-rw-r--r-- 1 root root  1706430 Jun 15 13:37 california_housing_train.csv
-rw-r--r-- 1 root root 18289443 Jun 15 13:37 mnist_test.csv
-rw-r--r-- 1 root root 36523880 Jun 15 13:37 mnist_train_small.csv
-rwxr-xr-x 1 root root      930 Jan  1  2000 README.md

In [28]:
!ls -l ./

total 20
drwxr-xr-x 1 root root  4096 Jun 15 13:37 sample_data
-rw-r--r-- 1 root root 15021 Jul  2 04:45 Wholesale_customers_data.csv

In [29]:
!ls -l ./Wholesale_customers_data.csv

-rw-r--r-- 1 root root 15021 Jul  2 04:45 ./Wholesale_customers_data.csv

In [30]:
import pandas as pd
df = pd.read_csv('./Wholesale_customers_data.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 440 entries, 0 to 439
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Channel           440 non-null    int64
 1   Region            440 non-null    int64
 2   Fresh             440 non-null    int64
 3   Milk              440 non-null    int64
 4   Grocery           440 non-null    int64
 5   Frozen            440 non-null    int64
 6   Detergents_Paper  440 non-null    int64
 7   Delicassen        440 non-null    int64
dtypes: int64(8)
memory usage: 27.6 KB

'Channel' 하고 'Fresh' 만 조금 다름.

In [31]:
# iloc[]

# `iloc` , `loc`을 배워보자!

In [32]:
mydict = [{'a': 1, 'b': 2, 'c': 3, 'd': 4},
          {'a': 100, 'b': 200, 'c': 300, 'd': 400},
          {'a': 1000, 'b': 2000, 'c': 3000, 'd': 4000 }]
df_s = pd.DataFrame(mydict)
df_s

      a     b     c     d
0     1     2     3     4
1   100   200   300   400
2  1000  2000  3000  4000

In [33]:
df_s.iloc[0]

a    1
b    2
c    3
d    4
Name: 0, dtype: int64

In [34]:
df_s.iloc[0,1]  # 행과 열로 구함 0행 1열

2

In [35]:
df_s.iloc[1,2] # 1행 2열

300

In [51]:
df_s.iloc[1:3,2:4]

      c     d
1   300   400
2  3000  4000

In [71]:
df_s.iloc[1:3,1:3]

      b     c
1   200   300
2  2000  3000

In [55]:
df_s.iloc[-2:,-2:]

      c     d
1   300   400
2  3000  4000

In [53]:
df_loc = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
     index=['cobra', 'viper', 'sidewinder'],
     columns=['max_speed', 'shield'])
df_loc

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

In [69]:
df_loc.loc['cobra']

max_speed    1
shield       2
Name: cobra, dtype: int64

In [72]:
df_loc.loc['cobra','shield']

2

In [73]:
df_loc.loc['cobra':'viper','shield']

cobra    2
viper    5
Name: shield, dtype: int64